nav {
    grid-area: nav;
    min-height: 60px;
    height: auto;
    color: aliceblue;
}

.navbar-nav {
    width: 100%;
    justify-content: end;
}

aside {
    grid-area: aside;
    padding: 20px 30px;
    background-color: rgb(211, 211, 211);
}

main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 10px;
}

aside > .search {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main > .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #1D3568;
    color: aliceblue;
    > * {
        text-align: center;
    }
}

.my-container {
    display: grid;
    grid-template-areas:
        "nav"
        "aside"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
}

.cel {
  display: none;
}


/* tablet */
@media (width >= 576px) {
    .my-container {
        grid-template-areas:
            "nav nav"
            "aside main"
            "footer footer";
        grid-template-columns: 20% 1fr;
        grid-template-rows: 10% 1fr 10%;
        row-gap: 0px;
    }
    nav {
        height: 100%;
    }
    aside {
        padding: 20px 10px;
    }

    .box {
      display: block;
    }
        
    .tablet {
      display: none;
    }

    main > .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 45%);
        grid-template-rows: auto auto;
        row-gap: 10px;
        column-gap: 10px;
        padding: 10px 0px;
        > div {
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
        }
    }
}

/*  latptop */
@media (width >= 992px) {
    .my-container {
        grid-template-areas:
            "nav aside"
            "nav main"
            "footer main";
        grid-template-columns: 15% 1fr;
        grid-template-rows: 12% auto 10%;
        row-gap: 0px;
    }
    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    aside {
        padding: 20px 30px;
    }

    main > .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 24%);
        grid-template-rows: auto auto;
        row-gap: 10px;
        column-gap: 10px;
        padding: 10px 0px;
        > div {
            padding-top: 0rem !important;
            padding-bottom: 0rem !important;
        }
    }

    .navbar {
      padding-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
    .container-fluid {
      gap: 20px;
    }
    .navbar-expand-sm .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .box {
      display: block;
    }
        
}
